<div class="row text-center">
    <div class="col-md-12 border title-section">IDENTIFICACIÓN</div>
    <div class="col-md-4 border">
        <p class="text-center"><b>Nombre</b></p>
        Juan de las Mercedes
    </div>
    <div class="col-md-4 border"><p><b>Apellido Paterno</b></p> Perez</div>
    <div class="col-md-4 border"><p><b>Apellido Materno</b></p> Perez</div>
    <div class="col-md-6 border">
        <p><b>Fecha Nacimiento</b></p>
        01/01/2000
    </div>
    <div class="col-md-6 border">
        <p><b>Edad</b></p>
        22 años
    </div>
</div> <!-- END row-->
<div class="row mt-3 text-center">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 border title-section">INFO</div>
            <div class="col-md-6 border">
                <p><b>Género</b></p> 
                Masculino
            </div>
            <div class="col-md-6 border"><p><b>Nacionalidad</b></p> Chileno</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 border title-section">DIRECCIÓN</div>
            <div class="col-md-6 border">
                <p><b>Dirección</b></p>
                Villa LALA #123
            </div>
            <div class="col-md-6 border">
                <p><b>Sector</b></p>
                Larmahue
            </div>
        </div>
    </div>
</div> <!-- END row-->

<div class="row text-center mt-3">
    <!-- <div class="col-md-12 border">SOBRE LA DISCAPACIDAD</div> -->
    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
                <div class="col-md-12 border title-section">CUIDADORA</div>
                <div class="col-md-6 border">
                    <p><b>Nombre</b></p>
                    lallalala la alalalalasllda sadasd
                </div>
                <div class="col-md-6 border">
                    <p><b>Relación</b></p>
                    dasdsadasdasdasda
                </div>
                <div class="col-md-12">
                    <p><b>Contacto</b></p>
                    +56 
                </div>
            </div>
        </div> <!-- END col-md-6 -->
        <div class="col-md-6 border">
            <div class="row">
              <div class="col-md-12 border title-section">TECNOLOGÍA</div>
                <div class="col-md-12 ">
                  <p><b>¿Acceso a internet?</b></p>
                  <i class="fa-solid fa-square-check"></i>
                  <!-- <i class="fa-solid fa-file-circle-check"></i> -->
                </div>
            </div>
        </div>
    </div>
</div>