<div class="accordion accordion-flush" id="accordionFlushExample">
    <!-- Observaciones Profesional -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingObs">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseObs" aria-expanded="false" aria-controls="flush-collapseObs">
          <i class="fa-solid fa-file-circle-exclamation me-3"></i> Observaciones Profesionales
        </button>
      </h2>
      <div id="flush-collapseObs" class="accordion-collapse collapse" aria-labelledby="flush-headingObs" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <table mat-table [dataSource]="dataSource">
           
            <!-- Name Column -->
            <ng-container matColumnDef="prof">
            <th mat-header-cell *matHeaderCellDef width="20%"> Profesional </th>
            <td mat-cell *matCellDef="let observations"> {{observations.names}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef width="15%"> Fecha </th>
            <td mat-cell *matCellDef="let observations"> +56 {{observations.phone}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="obs">
            <th mat-header-cell *matHeaderCellDef> Observación </th>
            <td mat-cell *matCellDef="let observations"> {{observations}} </td>
            </ng-container>
            
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                  No hay registros
                </td>
              </tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]"
                        showFirstLastButtons 
                        aria-label="Select page of patient">
        </mat-paginator>
          <table class="table">
            <thead>
              <tr>
                <th>Profesional</th>
                <th>Fecha</th>
                <th>Observación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Juan 1</td>
                <td>01/01/0101</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, doloribus praesentium nobis ratione obcaecati dignissimos accusantium vitae eaque nulla officiis odit, quo ullam commodi repudiandae necessitatibus placeat cumque debitis molestias?</td>
              </tr>
              <tr>
                <td>USUARIO 2</td>
                <td>03/05/0101</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa veniam aliquid at itaque laudantium enim pariatur corrupti possimus odio voluptates saepe sequi, debitis nulla amet illo cum consequuntur dolores?</td>
              </tr>
            </tbody>
          </table>
          
          <!-- <p><b>Grado Discapacidad</b>: Total</p>
          <p><b>Lugar Atención</b>: Hospital Pichidegua</p>
          <p><b>Diagnostico</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis error assumenda modi, officiis quas nobis iure quos quia facere quaerat eaque doloremque ex id totam in aperiam vitae fugiat quae.</p> -->
        </div>
      </div>
    </div>
    <!-- Salud -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingHealth">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHealth" aria-expanded="false" aria-controls="flush-collapseHealth">
            <i class="fa-solid fa-star-of-life me-3"></i> Salud
        </button>
      </h2>
      <div id="flush-collapseHealth" class="accordion-collapse collapse" aria-labelledby="flush-headingHealth" data-bs-parent="#accordionFlushExample">
       
        <div class="accordion-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td width="20%"><b>Tipo Discapacidad</b></td>
                <td>lallalala</td>
              </tr>
              <tr>
                <td><b>Grado Discapacidad</b></td>
                <td> Total</td>
              </tr>
              <tr>
                <td><b>Centro atención</b></td>
                <td>Hospital de Pichidegua</td>
              </tr>
              <tr>
                <td colspan="2">
                  <b>Diagnostico</b> <br>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure consequatur sed laudantium, illum modi atque veniam eligendi corrupti sequi sint maxime sapiente? Distinctio exercitationem, tenetur fuga molestias provident quo minus?
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- Social -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSocial">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSocial" aria-expanded="false" aria-controls="flush-collapseSocial">
            <i class="fa-solid fa-star me-3"></i> Social
        </button>
      </h2>
      <div id="flush-collapseSocial" class="accordion-collapse collapse" aria-labelledby="flush-headingSocial" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td width="20%"><b>RND</b></td>
                <td>1234</td>
              </tr>
              <tr>
                <td>RSH</td>
                <td>40%</td>
              </tr>
              <tr>
                <td>¿Pensión por invalidez?</td>
                <td><i class="fa-solid fa-square-xmark"></i></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <!-- Educación -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSchool">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSchool" aria-expanded="false" aria-controls="flush-collapseSchool">
            <i class="fa-solid fa-award me-3"></i> Educación
        </button>
      </h2>
      <div id="flush-collapseSchool" class="accordion-collapse collapse" aria-labelledby="flush-headingSchool" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td width="20%"><b>Estudia</b></td>
                <td><i class="fa-solid fa-square-check"></i></td>
              </tr>
              <tr>
                <td><b>Nivel de estudios</b></td>
                <td> 1 medio </td>
              </tr>
              <tr>
                <td><b>Establecimiento</b></td>
                <td>LALALA</td>
              </tr>
              <tr>
                <td><b>Tipo de Establecimiento</b></td>
                <td> Publico </td>
              </tr>
              <tr>
                <td><b>Ultimo curso aprobado</b></td>
                <td>lalala</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Trabajo -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingWork">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseWork" aria-expanded="false" aria-controls="flush-collapseWork">
            <i class="fa-solid fa-briefcase me-3"></i> Trabajo
          </button>
        </h2>
        <div id="flush-collapseWork" class="accordion-collapse collapse" aria-labelledby="flush-headingWork" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <table class="table table-hover table-bordered">
              <tbody>
                <tr>
                  <td width="20%"><b>Situación Actual</b></td>
                  <td><i class="fa-solid fa-square-check"></i> - Trabajando</td>
                </tr>
                <tr>
                  <td><b>Lugar de trabajo</b></td>
                  <td>CUGAT</td>
                </tr>
                <tr>
                  <td><b>Registrado en OMIL</b></td>
                  <td><i class="fa-solid fa-square-check"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <!-- Organizaciones -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingORG">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseORG" aria-expanded="false" aria-controls="flush-collapseORG">
          <i class="fa-solid fa-people-group me-3"></i> Organizaciones
        </button>
      </h2>
      <div id="flush-collapseORG" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td width="20%"><b>Nombre Agrupación PcD</b></td>
                <td>NOMBRE</td>
              </tr>
              <tr>
                <td><b>Cargo</b></td>
                <td>CARGO</td>
              </tr>
              <tr>
                <td><b>Nombre Presidente</b></td>
                <td>PRESIDENTE</td>
              </tr>
              <tr>
                <td><b>Contacto Presidente</b></td>
                <td> TELEFONO / CORREO</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Tecnología -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTech">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTech" aria-expanded="false" aria-controls="flush-collapseTech">
          <i class="fa-solid fa-mobile-screen-button me-3"></i> Tecnología
        </button>
      </h2>
      <div id="flush-collapseTech" class="accordion-collapse collapse" aria-labelledby="flush-headingTech" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td width="20%"><b>Tiene acceso a internet</b></td>
                <td> <i class="fa-solid fa-square-check"></i> </td>
              </tr>
              <tr>
                <td><b>Articulos tecnológicos</b></td>
                <td>
                  <span class="badge bg-primary me-1">Primary</span>
                  <span class="badge bg-primary">Primary</span>
                </td>
              </tr>
              <tr>
                <td><b>¿Requiere ayuda?</b></td>
                <td> <i class="fa-solid fa-square-check"></i> </td>
              </tr>
              <tr>
                <td> <b>Sabe utilizar</b> </td>
                <td> <i class="fa-solid fa-square-check"></i> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>